.clientes-main {
    padding: 40px 20px;
    background: #f9f9f9;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.clientes-container {
    width: 100%;
    max-width: 900px;
}

/* Título */
.clientes-header {
    background: #fff;
    padding: 15px 20px;
    border-left: 10px solid #3f71d7;
    border-radius: 8px;
    text-align: left;
    font-weight: 600;
    font-size: 1.6rem;
    color: #343a40;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
}

/* Tabla */
.clientes-table {
    width: 100%;
    border-collapse: collapse;
    background: rgb(13, 13, 13);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.clientes-table th,
.clientes-table td {
    padding: 12px 15px;
    text-align: left;
    color: #495057;
}

.clientes-table thead {
    background: #1a3987;
    font-weight: 500;
}

.clientes-table tbody tr:hover {
    background: #f0f0f0;
}

/* Botón icono */
.btn-icon {
        background: transparent;
        border: none;
        color: #dc3545;
        font-size: 1.1rem;
        cursor: pointer;
        transition: color 0.2s;
}

.btn-icon:hover {
    color: #a71d2a;
}

.loading,
.no-data {
    padding: 20px;
    font-style: italic;
    color: #e0e6eb;
    text-align: center;
}

.volver-container {
    margin-top: 25px;
    text-align: center;
}

.btn-volver {
    background: transparent;
    border: 1.5px solid #6c757d;
    color: #6c757d;
    padding: 7px 18px;
    border-radius: 25px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.25s ease;
}

.btn-volver:hover {
    background: #6c757d;
    color:white;
}